@import "../../common/colors.scss";

.movie-listing {

    &__list {
        
        margin: 2rem 0;
        h2 {
            font-size: 2.6rem;
            color: $font-secondary;
            margin-bottom: 1rem;
            font-weight: 400;
        }

    }

    // &__container {
    //     display: grid;
    //     grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    //     gap: 1.5rem;
    // }
}