@import "../../common/colors.scss";

.header {
    background-color: $secondary-color;
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: 100%;
        max-width: 1400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        color: $font-primary;
        font-size: 2rem;
        font-weight: 700;
    }

    &__user-image {
        width: 3.8rem;
        height: 3.8rem;
    }
}