@import "../../common/colors.scss";

.footer {
    background-color: $secondary-color;
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $font-primary;
    flex-direction: column;
}